SERVER_HOST=0.0.0.0
SERVER_PORT=8080

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=app
DATABASE_USER=app
DATABASE_PASSWORD=app
DATABASE_MAX_POOL_SIZE=10

JWT_SECRET=change_me_super_secret_key
JWT_ISSUER=kanjimap-backend
JWT_AUDIENCE=kanjimap-clients
JWT_REALM=kanjimap-api
JWT_EXPIRATION_MS=86400000
